.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: normal;
	color: #663300;
}
.serif {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: small;
	font-style: normal;
	font-weight: bold;
	color: #663300;
}
.footer {
	font-size: x-small;
	color: #FFFFCC;
	text-align: center;
	padding-top:10px;
}
